header {
   background-color: rgb(142, 150, 255);
}
h1 {
    color: white
}
a {
    color: green;
    text-decoration: none;
  }
  
  a:link {
    color: green;
  }
  
  a:visited {
    color: green;
  }
  
  a:active {
    color: green;
  }
  
  a:hover {
    color: red;
    text-decoration: underline;
  }     
h2 {
    color: blue
}

#doc {
    color: orange
}

h3 {
    background-color: yellow;
}

.h3text {
    color: red
}

h4 {
    background-color: darkgreen;
    color: yellow;
}

.h4text {
    background-color: lightgreen;
}

h5 {
    color: red;
}
footer {
background-color: yellow;
}