body {
  background-color: #999999;
  background-image: url(4c3164bc698796470720029fcc075084.jpg);
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

.header {
  grid-column: span 12;
  text-align: center;
}

.header h1 {
  font-family: 'Inconsolata', monospace;
  font-style: italic;
  border-left: black 3px dotted;
  border-right: black 3px dotted;
}

.nav {
  grid-column: span 12;
  padding: 15px;
}

.nav nav ul{
  list-style-type: none;
  text-align: center;
}

.nav nav li{
  font-family: 'Inconsolata', monospace;
  font-weight: none;
  font-style: italic;
  list-style-type: none;
  display: inline-block;
  width: 200px;
}

.nav nav li a{
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  border: none;
  background-image: linear-gradient(pink,rgb(248, 142, 159));
}

.nav nav li a:hover{
  text-decoration: none;
}

#gallery {
  margin: 0 auto; 
  grid-column: span 12; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

figure {
  display: block; 
  text-align: center; 
  padding: 1em;
  border: 1px solid black;
  transition: all 1s;
}


figure img {
  width: 100%;
}



figure:hover {
  transform: scale(1.1);
}

.footer{
  padding-top: 10px;
  grid-column: span 12;
  text-align: center;
}

.footer a{
  font-size: 30px;
}